# Ignore all files
*

# Except .gitignore, .cpp, .h, .hpp, .md, .png, .jpeg files
!.gitignore
!*.cpp
!*.h
!*.hpp
!*.md
!*.jpeg
!*.png

# Except LICENSE file
!LICENSE

# Even if they are in subdirectories
!*/